body {
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, Calibri, sans-serif;
   color: rgb(0,0,0);
   font-size: 12.1px;
   line-height: 18.15px;
   margin-bottom: 9.075px;
   list-style-image: url(http://www.mbie.govt.nz/bullet_double_green_8x8.png);
}

h2 {
   font-size:20px;
   line-height: 24px;
   color: rgb(0, 139, 198);
}

h3 {
   font-size:15px;
   line-height: 18px;
   color: rgb(0, 139, 198);
}

.row {
   margin-right: 0px;
   margin-left: 0px;
}
